html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
/**=========NAVIGATION SECTION=========**/
.top-vavigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
}
.top-navigation > .content {
	height: 70px;
}
.logo {
	height: 70px;
}
.links {
	float: right;
	font-family: 'Robot', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 1.7em;
	-webkit-font-smoothing: antialiased;
}
.links > li {
	display: inline-block;
	margin-left: 1.563rem;
}
.active {
	color: #4c5058;
	font-weight: 600;
}
li:hover {
	cursor: pointer;
    color: #333333;
}
/**===============INTRODUCTIN SECTION======================**/
.introduction {
	background-image: url("karma.jpg");
	background-position: center bottom;
	background-repeat: none;
	background-size: cover;
	height: 45.938em;
	overflow: auto;
}
h1, h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
h1 {
	margin-top: 17.5rem;
	font-size: 3em;
}
h3 {
	color: white;
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
/**==================BUTTON=================================**/
.buttons {
	text-align: center;
	margin-top: 1.563rem;
}
button {
	width: 10rem;
	background-color: #F15A29;
	border-color: #F15A29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	font-size: 1.125rem;
	color: white;
}
button:hover {
	cursor: pointer;
	background-color: #EA440E;
}
/**=====================CASES SECTION=======================**/
.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
}
.cases .content {
	margin-top: 7.875rem;
	padding: none;
	text-align: center;
}
h2 {
	font-size: 2.75rem;
	margin: 1.6rem 0 3.125rem;
	font-weight: 300;
}
.devices {
	display: inline-block;
	padding: 5px;
	margin: 1.6rem 3em;	
}
h3 {
	color: black;
	font-weight: 300;
}
/**============================FOOTER========================**/
footer {
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;
}
hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}
h5 {
	font-weight: 100;
	font-size: 20px;
	margin-bottom: 1.25em;
}
.icons li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;

}
.icons li:hover {
	cursor: pointer;
}
.twitter {
	color: #55acee;
}
.facebook {
	color: #4c66a4;
}
.instagram {
	color: #3f729b;
}
